body {
  background-color: rgba(113, 124, 16, 0.466);
}

/* Center the main content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Center the cards and add some spacing between them */
.ui.card {
  width: 400px; /* Adjust the card width as needed */
  margin: 25px auto; /* Center the cards horizontally and add spacing */
}

#hero {
  background-image: url('./images/green-car.webp');
  width: 100%; 
  height: 60vh; 
  background-size: cover;
}

/* Shadows and glow animations used for glowing appearance for the header text*/
h1 {
  font-family: 'Fondamento';
  font-size: 200px;
  text-align: center;
  animation: glow 1s infinite alternate;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  to {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }
}

h2 {
  font-family: 'Fondamento';
}

h3 {
  font-family: 'Monospace';
}

/* Put some space between content and card */
.search-bar, .results {
  margin: 27px;
}
